.App {
  text-align: center;
}

/* css card users */

.user-list {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-list h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.user-list ul {
  list-style-type: none;
  padding: 0;
}

.user-list li {
  background-color: #f9f9f9;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-list p {
  margin: 5px 0;
}

.user-list p strong {
  color: #555;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
